
.theme1 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #45BC9C!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(69,188,156,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #45BC9C!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #45BC9C!important;
    }
    .el-tabs__nav :hover {
        color: #45BC9C!important;
    }
    .intro {
        background-image: url('../images/bg-name.png') !important
    }
    .bg-connect div {
        background-image: url('../images/connect.png') !important
    }
    .LL-doc-icon {
        background-color: #45BC9C!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/1.2.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/1.1.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/1.3.png') no-repeat top center !important;
        background-size: 0.3rem!important;
    }
}

.theme2 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #6ACCF1!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(106,204,241,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #6ACCF1!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #6ACCF1!important;
    }
    .el-tabs__nav :hover {
        color: #6ACCF1!important;
    }
    .intro {
        background-image: url('../images/theme/theme2.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme22.png') !important
    }
    .LL-doc-icon {
        background-color: #6ACCF1!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/2.2.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/2.1.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/2.3.png') no-repeat top center !important;
        background-size: 0.3rem!important;
    }
}

.theme3 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #1E79C5!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(30,121,197,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #1E79C5!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #1E79C5!important;
    }
    .el-tabs__nav :hover {
        color: #1E79C5!important;
    }
    .intro {
        background-image: url('../images/theme/theme3.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme33.png') !important
    }
    .LL-doc-icon {
        background-color: #1E79C5!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/3.2.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/3.1.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/3.3.png') no-repeat top center !important;
        background-size: 0.3rem!important;
    }
}
.theme4 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #6C4BBD!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(108,75,189,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #6C4BBD!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #6C4BBD!important;
    }
    .el-tabs__nav :hover {
        color: #6C4BBD!important;
    }
    .intro {
        background-image: url('../images/theme/theme4.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme44.png') !important
    }
    .LL-doc-icon {
        background-color: #6C4BBD!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/4.2.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/4.1.png') no-repeat center center !important;
        background-size: 0.22rem!important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/4.3.png') no-repeat top center !important;
        background-size: 0.3rem!important;
    }
}
.theme5 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #E1C053!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(225,192,83,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #E1C053!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #E1C053!important;
    }
    .el-tabs__nav :hover {
        color: #E1C053!important;
    }
    .intro {
        background-image: url('../images/theme/theme5.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme55.png') !important
    }
    .LL-doc-icon {
        background-color: #E1C053!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/5.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/5.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/5.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
.theme6 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #AC8C42!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(172,140,66,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #AC8C42!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #AC8C42!important;
    }
    .el-tabs__nav :hover {
        color: #AC8C42!important;
    }
    .intro {
        background-image: url('../images/theme/theme6.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme66.png') !important
    }
    .LL-doc-icon {
        background-color: #AC8C42!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/6.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/6.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/6.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
.theme7 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #EE7373!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(238,115,115,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #EE7373!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #EE7373!important;
    }
    .el-tabs__nav :hover {
        color: #EE7373!important;
    }
    .intro {
        background-image: url('../images/theme/theme7.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme77.png') !important
    }
    .LL-doc-icon {
        background-color: #EE7373!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/7.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/7.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/7.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
.theme8 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #F88B36!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(248,139,54,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #F88B36!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #F88B36!important;
    }
    .el-tabs__nav :hover {
        color: #F88B36!important;
    }
    .intro {
        background-image: url('../images/theme/theme8.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme88.png') !important
    }
    .LL-doc-icon {
        background-color: #F88B36!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/8.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/8.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/8.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
.theme9 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #0CA344!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(12,163,68,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #0CA344!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #0CA344!important;
    }
    .el-tabs__nav :hover {
        color: #0CA344!important;
    }
    .intro {
        background-image: url('../images/theme/theme9.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme99.png') !important
    }
    .LL-doc-icon {
        background-color: #0CA344!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/9.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/9.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/9.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
.theme10 {
    .more-model, .container, .step-edit, .step-edit2, .env-info .env-info-line, .el-tabs__active-bar {
        background: #86B0A4!important;
    }
    .factory-info {
        border-bottom: 1px dashed rgba(134,176,164,0.2)!important;
    }
    .env-info .env-info-pointer {
        border: 5px dashed #86B0A4!important;
    }
    .el-tabs__item.is-active, .intro .intro-name, .icon-map, .LL-doc-font, .theme-color {
        color: #86B0A4!important;
    }
    .el-tabs__nav :hover {
        color: #86B0A4!important;
    }
    .intro {
        background-image: url('../images/theme/theme10.png') !important
    }
    .bg-connect div {
        background-image: url('../images/theme/theme110.png') !important
    }
    .LL-doc-icon {
        background-color: #86B0A4!important;
    }
    .comment-img {
        background: url('~@/assets/images/comments/10.2.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-1 {
        background: url('~@/assets/images/comments/10.1.png') no-repeat center center !important;
        background-size: 0.22rem !important;
    }
    .good-img-2 {
        background: url('~@/assets/images/comments/10.3.png') no-repeat top center !important;
        background-size: 0.3rem !important;
    }
}
